body {
    background-color: #FAF7F2;
    color: #4B3F32;
}

.modal-body{
     background-color: #FAF7F2;
}

.modal-footer{
     background-color: #FAF7F2;
}

.btn-novo-curso {
  border: none;
  border-radius: 0px;
  background-color: #52796F;
  color: #EAF4F4;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: background-color 0.3s, color 0.3s;
}

.btn-novo-curso:hover {
  background-color: #73ac99;
  color: #EAF4F4;

}


#corCurso:hover{
background-color: white !important;
}
.card-cursos{
  border: none;
  color: #4B3F32;
  background-color: #FFFDF9;
  border-radius: 0px !important;
  box-shadow: 2px 0 5px rgba(0,0,0,0.3);
}


.form-control:focus {
  outline: none;
  box-shadow: none;
   border-color: #ced4da;
}

.status{
  padding-left: 6px;
  font-size: small;
  background-color: #FFFDF9 !important;
  color: #4B3F32;
}

.status::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 6px 6px 1.5px 2px;
}

.status.ativo::after {
  background-color: green;
}

.status.inativo::after {
  background-color: red;
}

.modal-header {
    border-bottom: none;
    background-color: #FAF7F2;
}

.btn-adicionar{
    margin-top: 71px;
}

#corAparecer{
    width: 20px;
    height: 20px;

    display: inline-block;
}

.btn-novo-curso.btn-nova-cor {
  padding: 2px;
}

.color-preview {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 8px;
    vertical-align: middle;
}

#preview{
  border: none;
  border-radius: 0px !important;
 


}

.validade-doc {
    font-size: 0.9rem; /* diminui a letra, ajuste conforme precisar */

}

.card-text {
    min-height: 25px;

}


.texto-truncado {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;    /* garante que cada texto ocupe linha própria */
    max-width: 100%;
}

/* Bloco do módulo para evitar sobreposição */
.modulo-bloco {
    display: block;    /* cada módulo ocupa altura própria */
    margin-bottom: 1rem;
    width: 100%;
    overflow-y: auto;
    max-height: 200px; /* espaçamento entre módulos */
}

/* Lista de cursos dentro do módulo */
.modulo-cursos {
    display: flex;
    flex-direction: column;
    gap: 0.25rem; /* espaçamento entre cursos */
    margin-top: 0.25rem; /* separa do nome do módulo */
}

/* Mantém o texto do módulo com cor normal, mesmo com checkbox desabilitado */
.modulo-bloco .form-check-label {
    color: #212529 !important; /* cor padrão do texto */
    opacity: 1 !important;     /* remove o efeito “apagado” */
}


/*para elimar a seta no input[type=number] */
/* Para Chrome, Edge, Safari */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type=number] {
    -moz-appearance: textfield;
  appearance: textfield;
}


