/* --------- BOTÃO ADICIONAR NOVA FATURA --------- */
#btn-nova-fatura {
  border: none;
  border-radius: 0px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.3);
  transition: background-color 0.3s, color 0.3s;
}
#btn-nova-fatura:hover {
  background-color: rgb(245, 244, 244);
}

/* --------- CARD FATURAÇÃO --------- */
.card-financas{
  border: none;
  border-radius: 0px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.3);
}

#tituloValorExpectavel{
    color: #fabfb7;
}

/* --------- GRID FATURAÇÃO POR INSTITUIÇÃO/FATURAS --------- */
.card-fatura, .card-ganhos{
  border: none;
  border-radius: 0px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.3);
}

/* --------- TABELA FATURAS --------- */
#faturasTabela{
    height: 350px;
    overflow: auto;
}
#buttonAlterarEstado{
    background-color: #6c757d; /* cor mais escura do secundary */
    color: #fff; /* texto branco para contraste */
}
