.card-title i {
    margin-left: 10px; /* ou qualquer valor */
  }

  .card-info{
    border: none;
    border-radius: 0px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
  }

  #calendar{
    width: 100%;
  }

  #fastAction{
    border: none;
    border-radius: 0px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
  }
